{% load static %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock css_files %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Header section with logo, search bar, login or username, feed button -->
    <header class="header">
      <a id='name-link' href=" {% url "home" %}"> <h1 id='name'>OwlNest</h1> </a>
      <div>
        <a href="{% url "home" %}"><img id="logo" src="{% static "images/logo.png" %}" alt="logo"></a>
      </div>
      <div class="search-box">
        <form method="GET" action="{% url 'search_posts' %}">
          <input type="text" name="q" placeholder="Search">
        </form>
      </div>
      </form class="user-box">
        {% if user.is_authenticated %}
          <form action="{% url 'create_post' %}">
            <button id="CreatePost" type="submit">Create Post</button>
          </form>
          <a id="Feed" href="{% url 'feed' %}">Feed</a>
          <a id="username" href="{% url 'user_profile' pk=user.pk %}">{{ user.username }}</a>
          <div>
            <img id="avatar" src="{{ user.get_avatar }}" alt="ava">
          </div>
          <p id="rating">Rating: {{ user.karma}}</p>
          <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button id="logout" type="submit">Logout</button>
          </form>
        {% else %}
          <button id="login" type="button" class="button" onclick="window.location.href='{% url 'login' %}';">Login</button>
        {% endif %}
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>
      <footer class="footer">
        <p>&copy; 2023 MySite. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>