{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "home.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "post_content.css" %}">
{% endblock css_files %}

{% block title %}
{% endblock %}

{% block content %}
  <!-- Buttons to switch between day, week, and all posts -->
  <div id="buttons_period">
    <button id="button_all" {% if period == 'all' %} class="selected"{% endif %}><a id="button_all_link" href="{% url 'home' %}?period=all">All Posts</a></button>
    <button id="button_day" {% if period == 'day' %} class="selected"{% endif %}><a id="button_day_link" href="{% url 'home' %}?period=day">Day</a></button>
    <button id="button_week" {% if period == 'week' %} class="selected"{% endif %}><a id="button_week_link" href="{% url 'home' %}?period=week">Week</a></button>
  </div>

  <div class="post-grid">
    {% for post in best_posts %}
      {% include 'include/post_content.html' %}
    {% empty %}
      {% if message %}
       <p>{{ message }}</p>
      {% else %}
        <p>No posts found.</p>
      {% endif %}
    {% endfor %}
</div>

  <!-- Pagination links for navigating between pages -->
  <div class="pagination">
    {% if best_posts.has_previous %}
      <a href="?period={{ period }}&page={{ best_posts.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current-page">{{ best_posts.number }}</span>
    {% if best_posts.has_next %}
      <a href="?period={{ period }}&page={{ best_posts.next_page_number }}">next</a>
    {% endif %}
  </div>
{% endblock %}