{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "home.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock css_files %}

{% block title %}
{% endblock %}

{% block content %}
  <!-- Buttons to switch between day, week, and all posts -->
  <div id="buttons_period">
    <button id="button_all" {% if period == 'all' %} class="selected"{% endif %}><a id="button_all_link" href="{% url 'home' %}?period=all">All Posts</a></button>
    <button id="button_day" {% if period == 'day' %} class="selected"{% endif %}><a id="button_day_link" href="{% url 'home' %}?period=day">Day</a></button>
    <button id="button_week" {% if period == 'week' %} class="selected"{% endif %}><a id="button_week_link" href="{% url 'home' %}?period=week">Week</a></button>
  </div>

  <div class="post-grid">
    {% for post in best_posts %}
      <div class="post">
        <a href="{% url 'post_detail' post.pk %}">
          <h3>{{ post.title }}</h3>
          <h3>{{ post.created_at }}</h3>
          <a href="{% url 'user_profile' pk=post.author.pk %}">{{ post.author.username }}</a>
          <div>
            <img id="avatar" src="{{ post.author.get_avatar }}" alt="ava">
         </div>
          {% if user.is_authenticated %}
            <div class="vote-buttons">
              <form method="post" action="{% url 'post_vote' id=post.id %}">
                {% csrf_token %}
                <button type="submit" name="value" value="1" {% if user_vote == 1 %}disabled{% endif %}>+</button>
                <h3>{{ post.karma }}</h3>
                <button type="submit" name="value" value="-1" {% if user_vote == -1 %}disabled{% endif %}>-</button>
              </form>
            </div>
          {% endif %}
        </a>
        {% if post.media %}
            <img src="{{ post.media.url }}" alt="Post media">
          {% elif post.video %}
            {% video post.video 'small' %}
          {% endif %}
        <p>{{ post.content }}</p>
        <p>Tags:
          {% for tag in post.tags.all %}
            <a href="{% url 'post_list' tag_name=tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
      </div>
    {% empty %}
      {% if message %}
       <p>{{ message }}</p>
      {% else %}
        <p>No posts found.</p>
      {% endif %}
    {% endfor %}
</div>

  <!-- Pagination links for navigating between pages -->
  <div class="pagination">
    {% if best_posts.has_previous %}
      <a href="?period={{ period }}&page={{ best_posts.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current-page">{{ best_posts.number }}</span>
    {% if best_posts.has_next %}
      <a href="?period={{ period }}&page={{ best_posts.next_page_number }}">next</a>
    {% endif %}
  </div>
{% endblock %}