{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "post_content.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock css_files %}

{% block content %}
  {% if tag_name %}
    <h1>Posts with tag "{{ tag_name }}"</h1>
    {% if request.user.is_authenticated %}
      {% if is_subscribed %}
        <p>You are subscribed to this tag.</p>
      {% else %}
        <form method="post" action="{% url 'tag_subscription' %}">
          <input type="hidden" name="tag_name" value="{{ tag_name }}">
          {% csrf_token %}
          <button type="submit" style="
              border: 2px solid #d1d2d3;
              background-color: #f5f8fa; 
              color: #967b9c;
              border-radius: 40px;
              font-size: 25px;
              margin-left: 3rem;
              font-weight: 700;
              text-decoration: none;
              width: 250px;
              height: 70px;
              align-items: center;
              font-family: 'Cormorant Garamond', serif;
              margin-right: 10px;
          ">
              Subscribe to this tag
          </button>
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
  
  {% for post in posts %}
    {% include 'include/post_content.html' %}
  {% endfor %}
{% endblock %}