{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "post_detail.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "post_content.css" %}">
{% endblock css_files %}

{% block content %}
  <div id="post-detail" class="post-detail">
    {% include 'include/post_content.html' %}
    {% if user.is_authenticated and user == post.author %}
    <div id="deleteandedit">
      <button id="edit_post" type="button" class="button" onclick="window.location.href='{% url 'edit_post' post.pk %}';">Edit Post</button>
      <form action="{% url 'delete_post' pk=post.pk %}" method="post";>
        {% csrf_token %}
            <button id="delete_post" type="submit">Delete</button>
      </form>
    </div>
    {% endif %}
  </div>

  <hr>

  <div class="comments">
    <h2 id="commsect">Comments</h2>
    {% for comment in comments %}
      <div class="comment">
        <p>{{ comment.content }}</p>
        <p>Author: {{ comment.author.username }}</p>
        <p>Created at: {{ comment.created_at }}</p>
        {% if comment.image %}
          <img src="{{ comment.image.url }}" alt="Comment image">
        {% endif %}
        {% if comment.author == request.user %}
          <button id="edit_comment" type="button" class="button" onclick="window.location.href='{% url 'edit_comment' comment.pk %}';">Edit</button>
          <form action="{% url 'delete_comment' pk=comment.pk %}" method="post">
            {% csrf_token %}
                <button type="submit">Delete</button>
          </form>
        {% endif %}
      </div>
    {% empty %}
      <p id="no_comments">No comments yet.</p>
    {% endfor %}
  </div>

  <hr>
  {% if user.is_authenticated %}
    <div class="add-comment">
      <h2>Add comment</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add comment</button>
      </form>
    </div>
  {% else %}
      <p>Please log in to comment</p>
  {% endif %}
{% endblock %}