{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "post_detail.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "post_content.css" %}">
{% endblock css_files %}

{% block content %}
  <div id="post-detail" class="post-detail">
    {% include 'include/post_content.html' %}
    {% if user.is_authenticated and user == post.author %}
    <div id="deleteandedit">
      <button id="edit_post" type="button" class="button" onclick="window.location.href='{% url 'edit_post' post.pk %}';">Edit Post</button>
      <form action="{% url 'delete_post' pk=post.pk %}" method="post";>
        {% csrf_token %}
            <button id="delete_post" type="submit">Delete</button>
      </form>
    </div>
    {% endif %}
  </div>

  <hr>


    <h2 id="commsect">Comments</h2>
    {% for comment in comments %}
    <div class="comment">
        <div class="comment-header">
          <img id="avatar-comment" src="{{ comment.author.get_avatar }}" alt="ava">
          <a id="username-comment" href="{% url 'user_profile' pk=post.author.pk %}">{{ comment.author.username }}</a>
          <p id="date-comment">Created at: {{ comment.created_at }}</p>
        </div>
        {% if comment.image %}
        <img src="{{ comment.image.url }}" alt="Comment image">
        {% endif %}
        <p id="comment-text">{{ comment.content }}</p>
        {% if comment.author == request.user %}
        <div style="display: flex; justify-content: space-between;">
          <button id="edit_comment" type="button" class="button" onclick="window.location.href='{% url 'edit_comment' comment.pk %}';">Edit</button>
          <form action="{% url 'delete_comment' pk=comment.pk %}" method="post">
            {% csrf_token %}
                  <button id="delete_comment" type="submit">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% empty %}
        <p id="no_comments">No comments yet.</p>
      {% endfor %}
    </div>

  <hr>
  <div id="add-comment">
    {% if user.is_authenticated %}
      <h2>Add comment</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add comment</button>
      </form>
  {% else %}
      <p>Please log in to comment</p>
  {% endif %}
  </div>
{% endblock %}