{% extends 'base.html' %}
{% load static %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "register.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
{% endblock css_files %}

{% block content %}
<div class="form-wrapper-register">
  <h2>Registration</h2>
  <form method="POST">
    {% csrf_token %}
    {{ register_form.as_p }} 
    {% if request.method == 'POST' and form.errors %}
      <div class="alert alert-danger">
        <strong>Oops!</strong> Please, correct the mistakes below:
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <button type="submit">Register</button>
  </form>
</div>
{% endblock %}