{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "search.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "post_content.css" %}">
{% endblock css_files %}

{% block content %}
    <h1>Search results for "{{ query }}"</h1>
    <hr>
    {% if posts %}
        {% for post in posts %}
          {% include 'include/post_content.html' %}
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}