{% extends 'base.html' %}

{% block content %}
    <h1>Search results for "{{ query }}"</h1>
    <form action="{% url 'search_posts' %}" method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Search posts...">
        <button type="submit">Search</button>
    </form>
    <hr>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p>{{ post.content }}</p>
                    <p>Author: {{ post.author.username }}</p>
                    <p>Karma: {{ post.karma }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}