{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css_files%} 
    <link rel="stylesheet" href="{% static "user_profile.css" %}">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "post_detail.css" %}">
    <link rel="stylesheet" href="{% static "post_content.css" %}">

{% endblock css_files %}

{% block content %}
  <div class="user-profile">
    <h1 id="username-profile">username: {{ user_profile.username }}</h1>
    <img id="username-avatar-profile" src="{{ user_profile.get_avatar }}" alt="Avatar">
    <div id="user-info-profile">
      <p id="Email-user">Email: {{ user_profile.email }}</p>
      <p id="Birthday-user">Birthday: {{ user_profile.birthday }}</p>
      <p id="user-karma-profile">Karma: {{ user_profile.karma }}</p>
    </div>
    {% if user == user_profile %}
      <button id="edit_profile_user" type="button" class="button" onclick="window.location.href='{% url 'edit_profile' %}';">EditProfile</button>
    {% endif %}
  </div>

{% if user != user_profile %}
  {% if user.is_authenticated %}
      {% if subscribed_to %}
          <form method="post" action="{% url 'subscribe' pk=user_profile.pk %}">
              {% csrf_token %}
              <input type="hidden" name="subscribed_to" value="user_profile" />
              <button id="user-unsubscribe-profile" type="submit" name="unsubscribe">Unsubscribe</button>
          </form>
      {% else %}
          <form method="post" action="{% url 'subscribe' pk=user_profile.pk %}">
              {% csrf_token %}
              <input type="hidden" name="subscribed_to" value="user_profile" />
              <button id="user-subscribe-profile"type="submit" name="subscribe">Subscribe</button>
          </form>
      {% endif %}
  {% else %}
      <p>Please log in to subscribe.</p>
  {% endif %}
{% endif %}

  <hr>

  <div id="post-detail" class="post-detail">
    <h2 id="Posts-title-Posts">Posts</h2>
    {% for post in posts %}
      <div id="post-detail" class="post-detail">
        {% include 'include/post_content.html' %}
        {% if user.is_authenticated and user == post.author %}
        <div id="deleteandedit">
          <button id="edit_post" type="button" class="button" onclick="window.location.href='{% url 'edit_post' post.pk %}';">Edit Post</button>
          <form action="{% url 'delete_post' pk=post.pk %}" method="post";>
            {% csrf_token %}
                <button id="delete_post" type="submit">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% endfor %}
{% endblock %}