@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
html {
    font-family: 'Cormorant Garamond', serif;
    height: 100%;
  }

.body{
  height: 100%;
  margin: 0;
}
.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  background-color: rgb(194, 194, 194);
}

#name {
  font-family: 'Cormorant Garamond', serif;
  color: #967b9c;
  font-weight: 1500;
}
#logo {
  width: 50px;
  height: 50px;
}

#avatar {
  width: 50px;
  height: 50px;
}

.search-box {
  display: flex;  
  align-items: center;
  background-color: rgb(122, 122, 122);
  border: 2px solid rgb(192, 158, 158);
  border-radius: 5px;
  padding: 5px;
  margin: 0 10px;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  width: 300px;
  padding: 5px;
}

.search-box button {
  border: none;
  background-color: #967b9c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-box {
  display: flex;
  align-items: center;
}

.user-box .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-box .username {
  margin-right: 10px;
}

#login {
  border: 8px solid rgb(122, 122, 122);
  background-color: white; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 100px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
}

#logout{
  border: 8px solid rgb(122, 122, 122);
  background-color: white; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 100px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
}

#CreatePost {
  border: 8px solid rgb(122, 122, 122);
  background-color: white; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 200px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
}

html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer {
  background-color: rgb(194, 194, 194);
  height: 50px;
  padding-top: 0px;
}