@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
html {
    font-family: 'Cormorant Garamond', serif;
    height: 100%;
    background-color: #f5ecec;
  }

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  margin: 0;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  background-color: rgb(233, 231, 231);
  text-decoration: none;
}

#name {
  font-family: 'Cormorant Garamond', serif;
  color: #967b9c;
  padding-left: 30px;
  margin-top: 20px;
  font-size: 2.5rem;
}

#name-link {
  text-decoration: none;
}

#logo {
  width: 50px;
  height: 50px;
}

#avatar-base {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-left: 10px;
}

#feed {
  text-decoration: none;
  font-size: 30px;
  color: #967b9c;
  margin-left: 5rem;
  margin-right: 5rem;
}

#username-base {
  text-decoration: none;
  font-size: 30px;
  color: #967b9c;
  margin-left: 10rem;
}

#rating{
  text-decoration: none;
  font-size: 30px;
  color: #967b9c;
  margin-left: 10rem;
  margin-right: 5rem;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f5f8fa;
  border: 1px solid #d1d2d3;
  border-radius: 9999px;
  padding: 6px 12px;
  margin: 0 10px;
  max-width: 500px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.search-box form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 12px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.search-box input[type="text"]::placeholder {
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

.user-box {
  display: flex;
  align-items: center;
}

.user-box .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-box .username {
  margin-right: 10px;
}
#login {
  border: 2px solid #d1d2d3;
  background-color: #f5f8fa; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 120px;
  height: 50px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  margin-right: 40px;
  margin-left: 70rem;
}

#logout{
  border: 2px solid #d1d2d3;
  background-color: #f5f8fa; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 120px;
  height: 50px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  margin-right: 40px;
  margin-top: 15px;
  float: right;
}

#CreatePost {
  border: 2px solid #d1d2d3;
  background-color: #f5f8fa; 
  color: #967b9c;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 200px;
  height: 50px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  margin-top: 15px;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
}
.footer {
  background-color: rgb(194, 194, 194);
  height: 50px;
  margin-top: auto;
}