@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
html {
    font-family: 'Cormorant Garamond', serif;
  }

 #buttons_period{
  text-align: left;
  margin-left: 16rem;
 } 

 #post_elements{
  text-decoration: none;
 }

#button_all, #button_day, #button_week {
  border: 2px solid #d1d2d3;
  background-color: #f5f8fa; 
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  width: 120px;
  height: 50px;
  align-items: center;
  font-family: 'Cormorant Garamond', serif;
  margin-right: 40px;
  margin-top: 15px;
}

#button_all_link, #button_day_link, #button_week_link  {
  text-decoration: none;
  color: #967b9c;
}